{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- SOCIAL MEDIA META -->
    <meta property="og:description" content="Budget Viz">
    <meta property="og:image" content="preview.html">
    <meta property="og:site_name" content="Budget Viz">
    <meta property="og:title" content="Budget Viz">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://naxa.com.np">

    <!-- TWITTER META -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@Budget Viz">
    <meta name="twitter:creator" content="@Budget Viz">
    <meta name="twitter:title" content="Budget Viz">
    <meta name="twitter:description" content="Budget Viz">
    <meta name="twitter:image" content="preview.html">

    <!--title-->
    <title>Budget Viz</title>

    <!-- faveicon start   -->
    <!-- <link rel="icon" type="image/png" href="img/favicon.png" sizes="32x32"> -->

    <!-- stylesheet start -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href='{% static "css/bootstrap.min.css" %}' />
    <link rel="stylesheet" type="text/css" href='{% static "css/style.css" %}'>
    {% block link %}

    {% endblock %}
</head>

<body class="">
        <div>
            {% for messages in messages %}

            <script>
                window.onload = startcountdown;
                 function startcountdown(){
                    alert({
                        message: '{{messages}}'

                    })
                }
                </script>
            {%endfor%}
        </div>

        {% block body_part %}
        {% endblock %}



        <!-- contact -->
        <section class="contact_section" id="contact">
            <div class="container">
                <div class="wrapper h-wrap">
                    <div class="contact-content">
                        <div class="common-title">
                            <h2 class="title">Contact</h2>
                        </div>
                        <div class="contact-row">
                            <div class="row">
                                <div class="col-md-4">
                                   <div class="info">
                                        <h5 class="title">Information</h5>
                                        <div class="info-addr">
                                            <span class="company-addr">Alankar Innovations <span> Kathmandu, Nepal</span> </span>
                                            <ul>
                                                <li><span class="label">Phone</span><a class="label-info">+977 01-4329 504, 01-4329 504</a></li>
                                                <li><span class="label">Email</span><a class="label-info">matthew.mendez@mail.com</a></li>
                                                <li><span class="label">Web</span><a class="label-info">Info@alankar.com</a></li>
                                            </ul>
                                        </div>
                                        <ul class="social-media-grp">
                                            <li class="social-item"><a href="https://www.facebook.com/"><img src='{% static "./img/facebook.svg" %}' alt="facebook"></a></li>
                                            <li class="social-item"><a href="https://twitter.com"><img src='{% static "./img/twitter.svg" %}' alt="twitter"></a></li>
                                            <li class="social-item"><a href="https://www.instagram.com"><img src='{% static "./img/instagram.svg" %}' alt="instagram"></a></li>
                                            <li class="social-item"><a href="https://www.youtube.com/"><img src='{% static "./img/youtube.svg" %}' alt="youtube"></a></li>
                                        </ul>
                                   </div>
                                </div>

                                <div class="col-md-8">
                                    <div class="contact">
                                        <h5 class="title">Contact form</h5>
                                        <form id="contactd" action="/contact" method="post">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <input type="text" name="name" id="inputname" class="form-control" placeholder="" required="">
                                                <label for="inputname">Name</label>
                                                <span class="border-span"></span>
                                            </div>

                                            <div class="row row-wrap">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <input type="text" name="email" id="inputemail" class="form-control" placeholder="" required="">
                                                        <label for="inputemail">Email</label>
                                                        <span class="border-span"></span>
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <input type="text" name="email1" id="inputemai1" class="form-control" placeholder="" required="">
                                                        <label for="inputemail1">Email</label>
                                                        <span class="border-span"></span>
                                                    </div>
                                                </div>
                                            </div>

                                             <div class="form-group">
                                                <input type="text" name="message" id="inputmsg" class="form-control" placeholder="" required="">
                                                <label for="inputmsg">Message</label>
                                                <span class="border-span"></span>
                                            </div>
                                            <button class="common-button is-border">Send</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <footer>
                        <div class="footer-wrap">
                            {% if object1 %}
                            <p class="footer-para is-icon-reverse">
                                <a href="/budgetvisualization/{{object1 }}"><i class="material-icons">expand_less</i></a>
                                Top
                            </p>
                            {% elif 'blog' in request.path %}
                            <p class="footer-para is-icon-reverse">
                                <a href="/blog"><i class="material-icons">expand_less</i></a>
                                Top
                            </p>
                            {% endif %}
                            <div class="web-footer">
                                <div class="logo-center"><img src='{% static "./img/logo-white.svg" %}' alt="logo"></div>
                                <ul class="footer-links">
                                    {% if object1 %}
                                    <li class="link-item"><a href="/budgetvisualization/{{ object1 }}">budget visualization</a></li>
                                    {% else %}
                                    <li class="link-item"><a href="/budgetvisualization/{{ provincefilter.id }}">budget visualization</a></li>
                                    {% endif %}
                                    <li class="link-item"><a href="#about">About</a></li>
                                    <li class="link-item"><a href="/blog">News</a></li>
                                    <li class="link-item"><a href="#/">Glossary</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="footer-copyright">
                            <span>Copyright 2020, Open Budget Nepal. All Rights Reserved.</span>
                            <span>Designed by <a href="http://naxa.com.np">Naxa</a></span>
                        </div>
                    </footer>
                </div>
            </div>
        </section>




    <!-- Jquery Core Js -->
    <script src='{% static "js/bootstrap.min.js" %}'></script>
    <script src='{% static "js/jquery-3.4.1.min.js" %}'></script>
    <script src='{% static "https://cdn.jsdelivr.net/npm/baffle@0.3.6/dist/baffle.min.js" %}'></script>
    <script src='{% static "js/viz.js" %}'></script>

        <script>
            $(document).ready(function() {
                $('#contactd').submit(function(event) {
                    event.preventDefault();

                    $.ajax ({
                        url : '/contact',
                        type: 'POST',
                        data: $(this).serialize()
                    }).done(function(resp) {
                        if(resp.result=='success') {
                            alert('Message Sent')
                            $('#contactd').trigger('reset')

                        } else {
                            alert('Email Not Matched')
                        }
                    });

                });
            });

    </script>
    {% block script %}
    {% endblock %}

</body>

</html>