{% extends 'base.html' %}
{% load static %}
{% block body_part %}
    <div class="pg-wrap">
        <header class="site-header is-bg">
            <div class="container">
                <div class="wrap-header">
                    <div class="header-in">
                        <a href="/" class="logo">
                            <img class="logo-white" src='{% static  "img/logo-white.svg" %}' alt="logo">
                            <img class="logo-black" src='{% static "img/logo-black.svg" %}' alt="logo">
                        </a>
                        <div class="menu-wrap">
                            <div class="menu">
                                <ul>
                                    <li>
                                        <a href="/budgetvisualization/{{ provincefilter.id }}" >Budget Visualization</a>
                                    </li>
                                    <li>
                                        <a href="/glossary" class="">Glossary</a>
                                    </li>
                                    <li>
                                        <a href="/blog" class="active">Blogs</a>
                                    </li>
                                    <li>
                                        <a href="/about" class="">About</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="toggle-button">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <section class="page-header blog-header">
            <div class="container">
                <div class="wrapper">
                    <div class="row row-wrap">
                        <div class="col-md-10 col-wrap">
                            <span>&nbsp;</span>
                            <div class="common-title">
                                <h2 class="title">
                                    Get the latest news updates
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section class="budget-content">
            <div class="container">
                <div class="wrapper">
                    <div class="row row-wrap">
                        <div class="col-md-10 col-wrap">
                            <ul class="budget-list">
                                {% for data in page_obj %}
                                {% if data.status == 1 %}
                                {% if forloop.counter != 3 and forloop.counter != 6 and forloop.counter != 9 and forloop.counter != 12 and forloop.counter != 15 and forloop.counter != 18%}
                                <li class="budget-items">
                                    <a href="blogdetail/{{ data.id }}">
                                        <figure>
                                            <img src="{{ data.photo.url }}" alt="blog-img">
                                        </figure>
                                        <div class="info">
                                            <span class="date">{{ data.publish }}</span>
                                            <div class="common-title">
                                                <h4 class="section-title">{% autoescape off %}{{ data.list_title }}{% endautoescape %}</h4>
                                            </div>
                                            <p class="news-para" >{% autoescape off %}{{ data.list_description }}{% endautoescape %}</p>
                                        </div>
                                    </a>
                                </li>
                                {% else  %}
                                <li class="budget-items mainbudget-items" style="background-image: url({{ data.photo.url }});background-repeat: no-repeat;background-size:cover">
                                    <a  class="info" href="blogdetail/{{ data.id }}">
                                        <span class="date">{{ data.publish }}</span>
                                        <div class="common-title">
                                            <h4 class="section-title">{% autoescape off %}{{ data.list_title }}{% endautoescape %}</h4>
                                        </div>
                                    </a>
                                </li>
                                {% endif %}
                                {% endif %}
                                {% endfor %}


                            </ul>

                            <div class="pagination-wrap">
                                <div class="pagination">
                                    {% for page in paginator.page_range %}
                                    <a href="?page={{ page }}" {% if page == page_obj.number %} class="current" {% endif %}>{{ page }}</a>
                                    {% endfor %}
                                    {% if page_obj.has_previous %}
                                    <span style="padding-left:640px">
                                    <div class="page-nav-btn">
                                        <a href="?page={{ page_obj.previous_page_number }}">
                                        <button class="common-button is-border">
                                            Previous Page
                                        </button>
                                        </a>
                                    </div>
                                    </span>
                                    {% endif %}
                                </div>
                                {% if page_obj.has_next %}
                                <div class="page-nav-btn">
                                    <a href="?page={{ page_obj.next_page_number }}">
                                    <button class="common-button is-border">
                                        Next Page
                                    </button>
                                    </a>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>



    </div>
{% endblock %}

