{% extends 'base.html' %}
{% load static %}
{% block link %}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href='{% static "css/apexcharts.css" %}'>
<link rel="stylesheet" href='{% static "css/custom-charts.css" %}'>
<link rel="stylesheet" type="text/css" href='{% static "css/bootstrap-grid.min.css" %}'>
<style>
html, body, #container555 {
    width: 100%;
    height: 500px;
    margin: 0;
    padding: 0;
}
</style>

{% endblock %}
{% block body_part %}
<body class="">
<div class="pg-wrap viz-wrap">
    <header class="site-header is-bg">
        <div class="container">
            <div class="wrap-header">
                <div class="header-in">
                    <a href="/" class="logo">
                        <img class="logo-white" src='{% static "img/logo-white.svg" %}' alt="logo">
                        <img class="logo-black" src='{% static "img/logo-black.svg" %}' alt="logo">
                    </a>
                    <div class="menu-wrap">
                        <div class="menu">
                            <ul>
                                <li>
                                    <a href="/budgetvisualization/{{ object1 }}" class="active">Budget
                                        Visualization</a>
                                </li>
                                <li>
                                    <a href="/glossary" class="">Glossary</a>
                                </li>
                                <li>
                                    <a href="/blog" class="">Blogs</a>
                                </li>
                                <li>
                                    <a href="/about" class="">About</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="toggle-button">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    {% for data in topdata %}
    <section class="viz-header background-dark">
        <div class="container">
            <div class="wrapper">
                <h3 class="title">{{ data.name }}</span></h3>
                <div class="row gx-2 gy-2 viz-row">
                    <div class="col-lg-3 col-md-12">
                        <figure><img src='{{ data.image.url }}' alt="Province1" ></figure>
                    </div>
                    <div class="col-lg-9 col-md-12">
                        <div class="viz-info">
                            <div class="info-category">
                                <div class="category-column">
                                    <span class="data-label">Population</span>
                                    <script>
                                                var x = {{ data.total_population }}
                                                document.write('<h4 class="data">'.concat(x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","),'</h4>'));

                                    </script>
                                </div>

                                <div class="category-column">
                                    <span class="data-label">Male</span>
                                    <h4 class="data">{{ percentage_male }} <span>%</span></h4>
                                </div>

                                <div class="category-column">
                                    <span class="data-label">Female</span>
                                    <h4 class="data">{{ percentage_female }} <span>%</span></h4>
                                </div>

                                <div class="category-column">
                                    <span class="data-label">Economic Growth</span>
                                    <h4 class="data">{{ data.economic_growth }}</span></h4>
                                </div>
                            </div>

                            <div class="info-budget">
                                <div class="budget-column">
                                    <span class="data-label">Share in Gross Domestic Product</span>
                                    <h4 class="data">{{ data.share_in_domestic_product }} </span></h4>
                                </div>

                                <div class="budget-column">
                                    <span class="data-label">Human Development Index</span>
                                    <h4 class="data">{{ data.human_development_index }} </span></h4>
                                </div>

                                <div class="budget-column">
                                    <span class="data-label">Multidimensional Poverty Index</span>
                                    <h4 class="data">{{ data.multidimensional_poverty_index }} <span>%</span></h4>
                                </div>

                                <div class="budget-column">
                                    <span class="data-label">Total Gross Domestic Product</span>
                                    <span class="rate">NRP</span>
                                    <h4 class="data">{{ data.total_gross_domestic_product }}</h4>
                                </div>

                                <div class="budget-column">
                                    <span class="data-label">Per Capita income</span>
                                    <span class="rate">USD$</span>
                                    <h4 class="data">{{ data.per_capital_income }}</h4>
                                </div>

                                <div class="budget-column">
                                    <span class="data-label">Revenue collected</span>
                                    <span class="rate">NRP</span>
                                    <h4 class="data">{{ data.revenue_collected }}</span></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endfor %}

    <section class="viz-body">
        <div class="container-fluid">
            <div class="viz-content">
                <div class="row g-0 gy-md-4 gy-sm-4">
                    <div class="col-xl-4 col-lg-3 col-md-12">
                        <div class="chart-section">
                            <div class="contents">
                                <h4 class="data is-dark">Budget Source</h4>
                                <div class="chart">
                                    <canvas id="myChart"></canvas>

                                </div>
                                <div class="chart-info">
                                    {% for data in source %}
                                    <div class="chart-data">
                                        <span class="data-label is-dark">{{ data.source }}</span>
                                        <span class="rate is-dark">NRP</span>
                                        <script>
                                                var x = {{ data.budget }}
                                                document.write('<h4 class="data">'.concat(x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","),'</h4>'));

                                        </script>
                                    </div>
                                    {% endfor %}

                                </div>
                                <div class="chart-note">
                                    <p><strong>Note:</strong>&nbsp; All Rupees amounts shown here represent province
                                        reported obligated amounts </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-8 col-lg-9 col-md-12">
                        <div class="info-section">
                            <div class="contents">
                                {% for data in topdata %}
                                <h4 class="data is-dark">You are viewing Provincial Budget of <span>{{data.name}}</span></h4>
                                {% endfor %}
                                <h6 class="data-subtitle">Choose an option below to start your exploration.</h6>
                                <div class="budget-info-contents">
                                <form method="post" action='/budgetvisualization/{{ object1 }}'>{% csrf_token %}
                                    <div class="select-content">
                                        <div class="sel-dropdown">
                                            <label for="budget">Budget</label>

                                            <select id="budget" name="budget">
                                                <option value="2" {% if val == '2' %}selected{% endif %}>Actual Expenditure</option>
                                                <option value="1" {% if val == '1' %}selected{% endif %}>Total Budget</option>

                                            </select>
                                        </div>
                                        <div class="sel-dropdown">
                                            <label for="year">Year</label>

                                            <select id="year" name="year">
                                                {% for data in date %}
                                                <option value="{{ data.year }}" {% if data.year == first_date %}selected{% endif %}>{{ data.year }}</option>
                                                {% endfor %}

                                            </select>
                                        </div>
                                        <div>
                                            <button type="submit" class="success">Submit</button>
                                        </div>
                                    </div>
                                    </form>
                                    <div id='container555'></div>
                                    {% for data in topdata %}
                                    <p class="note">All Rupees amounts shown here represent {{ data.name }} reported obligated amounts
                                        amounts.</p>
                                    {% endfor %}
                                    <div class="btn-wrap">
                                        <button  class="common-button is-bg">Export</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



</div>
</div>
</body>
{% endblock %}
{% block script %}

<!-- Jquery Core Js -->
<script src="https://cdn.anychart.com/releases/8.7.1/js/anychart-core.min.js"></script>
<script src="https://cdn.anychart.com/releases/8.7.1/js/anychart-treemap.min.js"></script>
<script src='{% static "js/bootstrap.min.js" %}'></script>
<script src='{% static "js/jquery-3.4.1.min.js" %}'></script>
<script src='{% static "js/apexcharts.min.js" %}'></script>
<script src='{% static "js/viz.js" %}'></script>

<script src="https://cdn.jsdelivr.net/npm/apexcharts%22%3E"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3"></script>


<script>
    var ctx = document.getElementById('myChart').getContext('2d');
var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'pie',

    // The data for our dataset
    data: {
        labels: [{% for data in source %} '{{ data.source }}',{% endfor %} ],
        datasets: [{
            label: 'My First dataset',
            backgroundColor: ['#22264D', '#7CB5EC'],
            data: [{% for data in source %} {{ data.budget }},{% endfor %}]
        }]
    },

    // Configuration options go here
    options: {
      legend: {
      display: false,
    }
    }
});

</script>
<script>
    anychart.onDocumentReady(function () {

// create data
    var data = [
        {name:   "Budget", children: [
            {% for das in budget %}
                {% if val == '1' %}
                    {% if das.total_budget__year__year == first_date %}
                    {

                        name:'{{das.office_name}}',
                        value: {{das.total_budget__total}},
                        cap: {{das.total_budget__capital}},
                        cur: {{das.total_budget__current}},

                    },
                    {% endif %}
                {% elif val == '2' %}
                    {% if das.actual_expenditure__year__year == first_date %}
                    {

                        name:'{{das.office_name}}',
                        value: {{das.actual_expenditure__total}},
                        cap: {{das.actual_expenditure__capital}},
                        cur: {{das.actual_expenditure__current}},

                    },
                    {% endif %}
                {% elif val is None %}
                    {% if das.actual_expenditure__year__year == first_date %}
                    {


                        name:'{{das.office_name}}',
                        value: {{das.actual_expenditure__total}},
                        cap: {{das.actual_expenditure__capital}},
                        cur: {{das.actual_expenditure__current}},

                    },
                    {% endif %}
                {% endif %}
            {% endfor %}
        ]}
    ];

    // create a chart and set the data
    var chart = anychart.treeMap(data, "as-tree");

    // enable HTML for labels
    chart.labels().useHtml(true);

    // configure labels
    chart.labels().format(function() {

    return "<span style='font-weight:bold'>" + this.name +
            "</span><br/>" + this.value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    });

    // configure tooltips
    chart.tooltip().format(function() {

    return "Total: " + this.value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") +
            "\nCapital: " + this.getData("cap").toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") +
            '\nCurrent: ' + this.getData("cur").toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    });

    // set the chart title
    chart.title().useHtml(true);

    // set the container id
    chart.container("container555");
    chart.headers(false);

    // initiate drawing the chart
    chart.draw();
});
</script>

{% endblock %}