{% extends 'base.html' %}
{% load static %}
{% block link %}

{% endblock %}
{% block body_part %}

    <div class="pg-wrap viz-wrap">
        <header class="header-dark site-header is-bg">
            <div class="container">
                <div class="wrap-header">
                    <div class="header-in">
                        <a href="/" class="logo">
                            <img class="logo-black" src='{% static "img/logo-black.svg" %}' alt="logo">
                        </a>
                        <div class="menu-wrap">
                            <div class="menu">
                                <ul>
                                    <li>
                                        <a href="budgetvisualization/{{ provincefilter.id }}" >Open Budget Nepal</a>
                                    </li>
                                    <li>
                                        <a href="/glossary" class="active">Glossary</a>
                                    </li>
                                    <li>
                                        <a href="/blog" class="">Blogs</a>
                                    </li>
                                    <li>
                                        <a href="/about" class="">About</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="toggle-button">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <section class="glossary">
            <div class="container">
                <div class="wrapper">
                    <div class="row row-wrap">
                        <div class="col-lg-9 col-md-10">

                            <div class="section-title-wrap">
                                <div class="common-title">
                                    <h3 class="title is-dark">Glossary</h3>
                                </div>
                                <div class="date">
                                    <span>LAST UPDATED: {{ glossary.updated_at }}</span>
                                </div>
                            </div>

                            <div class="section-content">
                                <div class="search-title-bar">
                                    <div class="form-group">
                                        <input type="search" class="form-control" id="searchText"  placeholder="Search for a term">
                                        <i class="material-icons">search</i>
                                    </div>
                                </div>
                                <div class="search-content">
                                    <div class="index-search">
                                        {% if A %}
                                        <a href="#a" class="current">A</a>
                                        {% endif %}
                                        {% if B %}
                                        <a href="#b">B</a>
                                        {% endif %}
                                        {% if C %}
                                        <a href="#c">C</a>
                                        {% endif %}
                                        {% if D %}
                                        <a href="#d">D</a>
                                        {% endif %}
                                        {% if E %}
                                        <a href="#e">E</a>
                                        {% endif %}
                                        {% if F %}
                                        <a href="#f">F</a>
                                        {% endif %}
                                        {% if G %}
                                        <a href="#g">G</a>
                                        {% endif %}
                                        {% if H %}
                                        <a href="#h">H</a>
                                        {% endif %}
                                        {% if I %}
                                        <a href="#i">I</a>
                                        {% endif %}
                                        {% if J %}
                                        <a href="#j">j</a>
                                        {% endif %}
                                        {% if K %}
                                        <a href="#k">k</a>
                                        {% endif %}
                                        {% if L %}
                                        <a href="#l">l</a>
                                        {% endif %}
                                        {% if M %}
                                        <a href="#m">m</a>
                                        {% endif %}
                                        {% if N %}
                                        <a href="#n">n</a>
                                        {% endif %}
                                        {% if O %}
                                        <a href="#o">o</a>
                                        {% endif %}
                                        {% if P %}
                                        <a href="#p">p</a>
                                        {% endif %}
                                        {% if Q %}
                                        <a href="#q">q</a>
                                        {% endif %}
                                        {% if R %}
                                        <a href="#r">r</a>
                                        {% endif %}
                                        {% if S %}
                                        <a href="#s">s</a>
                                        {% endif %}
                                        {% if T %}
                                        <a href="#t">t</a>
                                        {% endif %}
                                        {% if U %}
                                        <a href="#u">u</a>
                                        {% endif %}
                                        {% if V %}
                                        <a href="#v">v</a>
                                        {% endif %}
                                        {% if W %}
                                        <a href="#w">w</a>
                                        {% endif %}
                                        {% if X %}
                                        <a href="#x">x</a>
                                        {% endif %}
                                        {% if Y %}
                                        <a href="#y">y</a>
                                        {% endif %}
                                        {% if Z %}
                                        <a href="#z">z</a>
                                        {% endif %}
                                        {% if zero %}
                                        <a href="#0">0</a>
                                        {% endif %}
                                    </div>
                                    <div class="index-content">
                                        <ul class="index-li" id="theList">
                                            <li class="index-item">
                                                <a id="a">
                                                    {% if A %}
                                                    <span class="index-letter">A</span>
                                                    {% endif %}
                                                    <ul class="inner-list" >
                                                        {% for data in findletter %}
                                                        {% if data.title|make_list|first == 'A' or data.title|make_list|first == 'a' %}
                                                        <li>
                                                            <b>{{ data.title }}</b>
                                                            <p>{% autoescape off %}{{ data.description }}{% endautoescape %}</p>
                                                        </li>
                                                        {% endif %}
                                                        {% endfor %}
                                                    </ul>
                                                </a>
                                            </li>
                                            <li class="index-item">
                                                <a id="b">
                                                    {% if B %}
                                                    <span class="index-letter">B</span>
                                                    {% endif %}
                                                    <ul class="inner-list">
                                                        {% for data in findletter %}
                                                        {% if data.title|make_list|first == 'B' or data.title|make_list|first == 'b' %}
                                                        <li>
                                                            <b>{{ data.title }}</b>
                                                            <p>{% autoescape off %}{{ data.description }}{% endautoescape %}</p>
                                                        </li>
                                                        {% endif %}
                                                        {% endfor %}
                                                    </ul>
                                                </a>
                                            </li>
                                            <li class="index-item">
                                                <a id="c">
                                                    {% if C %}
                                                    <span class="index-letter">C</span>
                                                    {% endif %}
                                                    <ul class="inner-list">
                                                        {% for data in findletter %}
                                                        {% if data.title|make_list|first == 'C' or data.title|make_list|first == 'c'%}
                                                        <li>
                                                            <b>{{ data.title }}</b>
                                                            <p>{% autoescape off %}{{ data.description }}{% endautoescape %}</p>
                                                        </li>
                                                        {% endif %}
                                                        {% endfor %}
                                                    </ul>
                                                </a>
                                            </li>
                                            <li class="index-item">
                                                <a id="d">
                                                    {% if D %}
                                                    <span class="index-letter">D</span>
                                                    {% endif %}
                                                    <ul class="inner-list">
                                                        {% for data in findletter %}
                                                        {% if data.title|make_list|first == 'D' or data.title|make_list|first == 'd'%}
                                                        <li>
                                                            <b>{{ data.title }}</b>
                                                            <p>{% autoescape off %}{{ data.description }}{% endautoescape %}</p>
                                                        </li>
                                                        {% endif %}
                                                        {% endfor %}
                                                    </ul>
                                                </a>
                                            </li>
                                            <li class="index-item">
                                                <a id="e">
                                                    {% if E %}
                                                    <span class="index-letter">E</span>
                                                    {% endif %}
                                                    <ul class="inner-list">
                                                        {% for data in findletter %}
                                                        {% if data.title|make_list|first == 'E' or data.title|make_list|first == 'e'%}
                                                        <li>
                                                            <b>{{ data.title }}</b>
                                                            <p>{% autoescape off %}{{ data.description }}{% endautoescape %}</p>
                                                        </li>
                                                        {% endif %}
                                                        {% endfor %}
                                                    </ul>
                                                </a>
                                            </li>
                                            <li class="index-item">
                                                <a id="f">
                                                    {% if F %}
                                                    <span class="index-letter">F</span>
                                                    {% endif %}
                                                    <ul class="inner-list">
                                                        {% for data in findletter %}
                                                        {% if data.title|make_list|first == 'F' or data.title|make_list|first == 'f' %}
                                                        <li>
                                                            <b>{{ data.title }}</b>
                                                            <p>{% autoescape off %}{{ data.description }}{% endautoescape %}</p>
                                                        </li>
                                                        {% endif %}
                                                        {% endfor %}
                                                    </ul>
                                                </a>
                                            </li>
                                            <li class="index-item">
                                                <a id="g">
                                                    {% if G %}
                                                    <span class="index-letter">G</span>
                                                    {% endif %}
                                                    <ul class="inner-list">
                                                        {% for data in findletter %}
                                                        {% if data.title|make_list|first == 'G' or data.title|make_list|first == 'g' %}
                                                        <li>
                                                            <b>{{ data.title }}</b>
                                                            <p>{% autoescape off %}{{ data.description }}{% endautoescape %}<p>
                                                        </li>
                                                        {% endif %}
                                                        {% endfor %}
                                                    </ul>
                                                </a>
                                            </li>
                                            <li class="index-item">
                                                <a id="h">
                                                    {% if H %}
                                                    <span class="index-letter">H</span>
                                                    {% endif %}
                                                    <ul class="inner-list">
                                                        {% for data in findletter %}
                                                        {% if data.title|make_list|first == 'H' or data.title|make_list|first == 'h' %}
                                                        <li>
                                                            <b>{{ data.title }}</b>
                                                            <p>{% autoescape off %}{{ data.description }}{% endautoescape %}</p>
                                                        </li>
                                                        {% endif %}
                                                        {% endfor %}
                                                    </ul>
                                                </a>
                                            </li>
                                            <li class="index-item">
                                                <a id="i">
                                                    {% if I %}
                                                    <span class="index-letter">I</span>
                                                    {% endif %}
                                                    <ul class="inner-list">
                                                        {% for data in findletter %}
                                                        {% if data.title|make_list|first == 'I' or data.title|make_list|first == 'i' %}
                                                        <li>
                                                            <b>{{ data.title }}</b>
                                                            <p>{% autoescape off %}{{ data.description }}{% endautoescape %}</p>
                                                        </li>
                                                        {% endif %}
                                                        {% endfor %}
                                                    </ul>
                                                </a>
                                            </li>
                                            <li class="index-item">
                                                <a id="j">
                                                    {% if J %}
                                                    <span class="index-letter">J</span>
                                                    {% endif %}
                                                    <ul class="inner-list">
                                                        {% for data in findletter %}
                                                        {% if data.title|make_list|first == 'J' or data.title|make_list|first == 'j' %}
                                                        <li>
                                                            <b>{{ data.title }}</b>
                                                            <p>{% autoescape off %}{{ data.description }}{% endautoescape %}</p>
                                                        </li>
                                                        {% endif %}
                                                        {% endfor %}
                                                    </ul>
                                                </a>
                                            </li>
                                            <li class="index-item">
                                                <a id="k">
                                                    {% if K %}
                                                    <span class="index-letter">K</span>
                                                    {% endif %}
                                                    <ul class="inner-list">
                                                        {% for data in findletter %}
                                                        {% if data.title|make_list|first == 'K' or data.title|make_list|first == 'k' %}
                                                        <li>
                                                            <b>{{ data.title }}</b>
                                                            <p>{% autoescape off %}{{ data.description }}{% endautoescape %}</p>
                                                        </li>
                                                        {% endif %}
                                                        {% endfor %}
                                                    </ul>
                                                </a>
                                            </li>
                                            <li class="index-item">
                                                <a id="l">
                                                    {% if L %}
                                                    <span class="index-letter">L</span>
                                                    {% endif %}
                                                    <ul class="inner-list">
                                                        {% for data in findletter %}
                                                        {% if data.title|make_list|first == 'L' or data.title|make_list|first == 'l' %}
                                                        <li>
                                                            <b>{{ data.title }}</b>
                                                            <p>{% autoescape off %}{{ data.description }}{% endautoescape %}</p>
                                                        </li>
                                                        {% endif %}
                                                        {% endfor %}
                                                    </ul>
                                                </a>
                                            </li>
                                            <li class="index-item">
                                                <a id="m">
                                                    {% if M %}
                                                    <span class="index-letter">M</span>
                                                    {% endif %}
                                                    <ul class="inner-list">
                                                        {% for data in findletter %}
                                                        {% if data.title|make_list|first == 'M' or data.title|make_list|first == 'm' %}
                                                        <li>
                                                            <b>{{ data.title }}</b>
                                                            <p>{% autoescape off %}{{ data.description }}{% endautoescape %}}</p>
                                                        </li>
                                                        {% endif %}
                                                        {% endfor %}
                                                    </ul>
                                                </a>
                                            </li>
                                            <li class="index-item">
                                                <a id="n">
                                                    {% if N %}
                                                    <span class="index-letter">N</span>
                                                    {% endif %}
                                                    <ul class="inner-list">
                                                        {% for data in findletter %}
                                                        {% if data.title|make_list|first == 'N' or data.title|make_list|first == 'n' %}
                                                        <li>
                                                            <b>{{ data.title }}</b>
                                                            <p>{% autoescape off %}{{ data.description }}{% endautoescape %}</p>
                                                        </li>
                                                        {% endif %}
                                                        {% endfor %}
                                                    </ul>
                                                </a>
                                            </li>
                                            <li class="index-item">
                                                <a id="o">
                                                    {% if O %}
                                                    <span class="index-letter">O</span>
                                                    {% endif %}
                                                    <ul class="inner-list">
                                                        {% for data in findletter %}
                                                        {% if data.title|make_list|first == 'O' or data.title|make_list|first == 'o' %}
                                                        <li>
                                                            <b>{{ data.title }}</b>
                                                            <p>{% autoescape off %}{{ data.description }}{% endautoescape %}</p>
                                                        </li>
                                                        {% endif %}
                                                        {% endfor %}
                                                    </ul>
                                                </a>
                                            </li>
                                            <li class="index-item">
                                                <a id="p">
                                                    {% if P %}
                                                    <span class="index-letter">P</span>
                                                    {% endif %}
                                                    <ul class="inner-list">
                                                        {% for data in findletter %}
                                                        {% if data.title|make_list|first == 'P' or data.title|make_list|first == 'P' %}
                                                        <li>
                                                            <b>{{ data.title }}</b>
                                                            <p>{% autoescape off %}{{ data.description }}{% endautoescape %}</p>
                                                        </li>
                                                        {% endif %}
                                                        {% endfor %}
                                                    </ul>
                                                </a>
                                            </li>
                                            <li class="index-item">
                                                <a id="q">
                                                    {% if Q %}
                                                    <span class="index-letter">Q</span>
                                                    {% endif %}
                                                    <ul class="inner-list">
                                                        {% for data in findletter %}
                                                        {% if data.title|make_list|first == 'Q' or data.title|make_list|first == 'q' %}
                                                        <li>
                                                            <b>{{ data.title }}</b>
                                                            <p>{% autoescape off %}{{ data.description }}{% endautoescape %}</p>
                                                        </li>
                                                        {% endif %}
                                                        {% endfor %}
                                                    </ul>
                                                </a>
                                            </li>
                                            <li class="index-item">
                                                <a id="r">
                                                    {% if R %}
                                                    <span class="index-letter">R</span>
                                                    {% endif %}
                                                    <ul class="inner-list">
                                                        {% for data in findletter %}
                                                        {% if data.title|make_list|first == 'R' or data.title|make_list|first == 'r' %}
                                                        <li>
                                                            <b>{{ data.title }}</b>
                                                            <p>{{ data.description }}</p>
                                                        </li>
                                                        {% endif %}
                                                        {% endfor %}
                                                    </ul>
                                                </a>
                                            </li>
                                            <li class="index-item">
                                                <a id="s">
                                                    {% if S %}
                                                    <span class="index-letter">S</span>
                                                    {% endif %}
                                                    <ul class="inner-list">
                                                        {% for data in findletter %}
                                                        {% if data.title|make_list|first == 'S' or data.title|make_list|first == 's' %}
                                                        <li>
                                                            <b>{{ data.title }}</b>
                                                            <p>{% autoescape off %}{{ data.description }}{% endautoescape %}</p>
                                                        </li>
                                                        {% endif %}
                                                        {% endfor %}
                                                    </ul>
                                                </a>
                                            </li>
                                            <li class="index-item">
                                                <a id="t">
                                                    {% if T %}
                                                    <span class="index-letter">t</span>
                                                    {% endif %}
                                                    <ul class="inner-list">
                                                        {% for data in findletter %}
                                                        {% if data.title|make_list|first == 'T' or data.title|make_list|first == 't' %}
                                                        <li>
                                                            <b>{{ data.title }}</b>
                                                            <p>{% autoescape off %}{{ data.description }}{% endautoescape %}</p>
                                                        </li>
                                                        {% endif %}
                                                        {% endfor %}
                                                    </ul>
                                                </a>
                                            </li>
                                            <li class="index-item">
                                                <a id="u">
                                                    {% if U %}
                                                    <span class="index-letter">U</span>
                                                    {% endif %}
                                                    <ul class="inner-list">
                                                        {% for data in findletter %}
                                                        {% if data.title|make_list|first == 'U' or data.title|make_list|first == 'u' %}
                                                        <li>
                                                            <b>{{ data.title }}</b>
                                                            <p>{% autoescape off %}{{ data.description }}{% endautoescape %}</p>
                                                        </li>
                                                        {% endif %}
                                                        {% endfor %}
                                                    </ul>
                                                </a>
                                            </li>
                                            <li class="index-item">
                                                <a id="v">
                                                    {% if V %}
                                                    <span class="index-letter">V</span>
                                                    {% endif %}
                                                    <ul class="inner-list">
                                                        {% for data in findletter %}
                                                        {% if data.title|make_list|first == 'V' or data.title|make_list|first == 'v' %}
                                                        <li>
                                                            <b>{{ data.title }}</b>
                                                            <p>{% autoescape off %}{{ data.description }}{% endautoescape %}</p>
                                                        </li>
                                                        {% endif %}
                                                        {% endfor %}
                                                    </ul>
                                                </a>
                                            </li>
                                            <li class="index-item">
                                                <a id="w">
                                                    {% if W %}
                                                    <span class="index-letter">W</span>
                                                    {% endif %}
                                                    <ul class="inner-list">
                                                        {% for data in findletter %}
                                                        {% if data.title|make_list|first == 'W' or data.title|make_list|first == 'w' %}
                                                        <li>
                                                            <b>{{ data.title }}</b>
                                                            <p>{% autoescape off %}{{ data.description }}{% endautoescape %}</p>
                                                        </li>
                                                        {% endif %}
                                                        {% endfor %}
                                                    </ul>
                                                </a>
                                            </li>
                                            <li class="index-item">
                                                <a id="x">
                                                    {% if X %}
                                                    <span class="index-letter">X</span>
                                                    {% endif %}
                                                    <ul class="inner-list">
                                                        {% for data in findletter %}
                                                        {% if data.title|make_list|first == 'X' or data.title|make_list|first == 'x' %}
                                                        <li>
                                                            <b>{{ data.title }}</b>
                                                            <p>{% autoescape off %}{{ data.description }}{% endautoescape %}</p>
                                                        </li>
                                                        {% endif %}
                                                        {% endfor %}
                                                    </ul>
                                                </a>
                                            </li>
                                            <li class="index-item">
                                                <a id="y">
                                                    {% if Y %}
                                                    <span class="index-letter">Y</span>
                                                    {% endif %}
                                                    <ul class="inner-list">
                                                        {% for data in findletter %}
                                                        {% if data.title|make_list|first == 'Y' or data.title|make_list|first == 'y' %}
                                                        <li>
                                                            <b>{{ data.title }}</b>
                                                            <p>{% autoescape off %}{{ data.description }}{% endautoescape %}</p>
                                                        </li>
                                                        {% endif %}
                                                        {% endfor %}
                                                    </ul>
                                                </a>
                                            </li>
                                            <li class="index-item">
                                                <a id="z">
                                                    {% if Z %}
                                                    <span class="index-letter">z</span>
                                                    {% endif %}
                                                    <ul class="inner-list">
                                                        {% for data in findletter %}
                                                        {% if data.title|make_list|first == 'Z' or data.title|make_list|first == 'z' %}
                                                        <li>
                                                            <b>{{ data.title }}</b>
                                                            <p>{% autoescape off %}{{ data.description }}{% endautoescape %}</p>
                                                        </li>
                                                        {% endif %}
                                                        {% endfor %}
                                                    </ul>
                                                </a>
                                            </li>
                                            <li class="index-item">
                                                <a id="0">
                                                    <span class="index-letter">#</span>
                                                    <ul class="inner-list">
                                                        {% for data in findletter %}
                                                        {% if data.title|make_list|first == '@' or data.title|make_list|first == '*' or data.title|make_list|first == '$' or data.title|make_list|first == '#' or data.title|make_list|first == '!' or data.title|make_list|first == '%' %}
                                                        <li>
                                                            <b>{{ data.title }}</b>
                                                            <p>{% autoescape off %}{{ data.description }}{% endautoescape %}</p>
                                                        </li>
                                                        {% endif %}
                                                        {% endfor %}
                                                    </ul>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
{% block script %}
    <script language="javascript" type="text/javascript">


            $('#searchText').bind('keyup', function() {

                var searchString = $(this).val();

                $("ul li").each(function(index, value) {

                    currentName = $(value).text()
                    if( currentName.toUpperCase().indexOf(searchString.toUpperCase()) > -1) {
                       $(value).show();
                    } else {
                        $(value).hide();
                    }


                });
});

    </script>

{% endblock %}
{% endblock %}