.custom-checkbox {
    @include display-flex(flex);
    @include justify-content-start;
    @include align-items-center;
    position: relative;
    margin-bottom: .6125rem;

    // &::before {
    //     z-index: 1;
    //     position: absolute;
    //     border-radius: 50%;
    //     opacity: 0;
    //     pointer-events: none;
    //     content: "";
    //     width:30px;
    //     height: 30px;
    //     background-color:$blue-light;
    //     left:-6px;
    //     top:-5px;
    //     bottom:-5px;
    //     @include transition(all .5s linear);
    //     visibility: hidden;
    // }
    label{
        margin:0;
        font-weight: 500;
        font-size: .775rem;
    }

    input {
        position: absolute; // take it out of document flow
        opacity: 0; // hide it
        z-index: 9;

        &+label {
            position: relative;
            cursor: pointer;
            padding: 0;
        }

        // Box.
        &+label:before {
            content: '';
            margin-right: 10px;
            display: inline-block;
            vertical-align: text-top;
            width: 18px;
            height: 18px;
            background: $white-color;
            border: 1.5px solid $border-dark;
            @include radius(4px);
        }

        // Box hover
        // &:hover + label:before {
        //     background: $blue-color;
        // }

        // Box focus
        &:focus+label:before {
            box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
        }

        // Box checked
        &:checked+label:before {
            background: $primary-color;
        }

        // Disabled state label.
        &:disabled+label {
            color: #b8b8b8;
            cursor: auto;
        }

        // Disabled box.
        &:disabled+label:before {
            box-shadow: none;
            background: #ddd;
        }

        // Checkmark. Could be replaced with an image
        &:checked+label:after {
            content: '';
            position: absolute;
            left: 4px;
            top: 12px;
            background: $white-color;
            width: 2px;
            height: 2px;
            box-shadow:
                2px 0 0 $white-color,
                4px 0 0 $white-color,
                4px -2px 0 $white-color,
                4px -4px 0 $white-color,
                4px -6px 0 $white-color,
                4px -8px 0 $white-color;
            transform: rotate(45deg);
        }

        &:checked+label:before {
            border-color: $primary-color;
        }
        &:checked+label{
            color: $primary-color;
        }
    }
    // &:hover{
    //     &::before{
    //         opacity: 1;
    //         visibility: visible;
    //     }
    // }
}
.custom-radio {
    @include display-flex(flex);
    @include justify-content-start;
    @include align-items-center;
    position: relative;
    margin-bottom: .6125rem;

    // &::before {
    //     z-index: 1;
    //     position: absolute;
    //     border-radius: 50%;
    //     opacity: 0;
    //     pointer-events: none;
    //     content: "";
    //     width:30px;
    //     height: 30px;
    //     background-color:$blue-light;
    //     left:-6px;
    //     top:-5px;
    //     bottom:-5px;
    //     @include transition(all .5s linear);
    //     visibility: hidden;
    // }
    label{
        margin:0;
        font-weight: 500;
        font-size: .775rem;
    }

    input {
        position: absolute; // take it out of document flow
        opacity: 0; // hide it
        z-index: 9;

        &+label {
            position: relative;
            cursor: pointer;
            padding: 0;
        }

        // Box.
        &+label:before {
            content: '';
            margin-right: 10px;
            display: inline-block;
            vertical-align: text-top;
            width: 18px;
            height: 18px;
            @include radius(50%);
            background: $white-color;
            border: 1.5px solid $border-dark;
        }

        // Box hover
        // &:hover + label:before {
        //     background: $blue-color;
        // }

        // Box focus
        &:focus+label:before {
            box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
        }

        // Box checked
        &:checked+label:before {
            background: $primary-color;
        }

        // Disabled state label.
        &:disabled+label {
            color: #b8b8b8;
            cursor: auto;
        }

        // Disabled box.
        &:disabled+label:before {
            box-shadow: none;
            background: #ddd;
        }

        // Checkmark. Could be replaced with an image
        &:checked+label:after {
            content: '';
            position: absolute;
            left: 4px;
            top: 13px;
            background: $white-color;
            width: 2px;
            height: 2px;
            box-shadow:
                2px 0 0 $white-color,
                4px 0 0 $white-color,
                4px -2px 0 $white-color,
                4px -4px 0 $white-color,
                4px -6px 0 $white-color,
                4px -8px 0 $white-color;
            transform: rotate(45deg);
        }

        &:checked+label:before {
            border-color: $primary-color;
        }
        &:checked+label{
            color: $primary-color;
        }
    }
    // &:hover{
    //     &::before{
    //         opacity: 1;
    //         visibility: visible;
    //     }
    // }
    
}
.inline-group{
    @include display-flex(flex);
    @include justify-content-start;
    @include align-items-center;
    @include flex-wrap(wrap);
    
    .custom-radio,.custom-checkbox{
        &:not(:last-child){
            margin-right: 1rem;
        }
    }
    &.is-bg{
        .custom-radio{
            padding: 10px;
            background: $white-color;
            @include radius(5px);
            border:1px solid transparent;
            &:focus-within{
                background-color: $primary-light-1;
                border-color:$primary-color;
            }
        }
    }
}
.form-group{
    &.radio-list{
        .custom-radio{
            margin:0;
            label{
                font-size: .875rem;
                font-weight: 600;
                @media #{$breakpoint-desktop}{
                    font-size: .775rem;
                }
            }
        }
        .filter-content{
            padding:1rem;
            background-color: $grey-color;
            @include radius(10px);
            position: relative;
            label{
                font-size: .875rem;
                font-weight: 600;
                @media #{$breakpoint-desktop}{
                    font-size: .775rem;
                }
            }
            .overmap{
                position: absolute;
                top:50%;
                @include display-flex(flex);
                @include justify-content-end;
                @include align-items-center;
                @include transform(translateY(-50%));
                right: 1rem;
                z-index: 2;
                font-size: .875rem;
                span{
                    color:$primary-color;
                    margin-right: .5rem;
                    font-weight: 600;
                }
                i{
                    color:$body-color;
                }
            }
        }
    }
    &.group-radio-list{
        .filter-content{
            @include display-flex(flex);
            @include justify-content-start;
            @include align-items-center;
            .radio-right{
                flex-grow: 1;
            }  
        }
    }
}