ul{
    &.progress-step{
        @include display-flex(flex);
        @include justify-content-around;
        @include align-items-center;
        overflow: hidden;
        li{
            @include flex(0 0 25%);
            max-width: 25%;
            position: relative;
            text-align: center;
            font-weight: 600;
            font-size: .775rem;
            &::after{
                content:'';
                width:100%;
                height: 2px;
                background-color: $border-color;
                position: absolute;
                top:18px;
                left:calc(-50% - 28px / 2);
                z-index: -1;
            };
            &::before{
                content:'radio_button_unchecked';
                font-family: 'Material Icons';
                color:$border-color;
                width:28px;
                height: 28px;
                display: block;
                margin: 0 auto 5px auto;
                position: relative;
                z-index: 2;
                background-color: $white-color;
                @include radius(100%);
                font-size: 1.2rem;
                cursor: pointer;
            };
            &:first-child{
                &::after{
                    content:none;
                }
            }
            &.active{
                color:$primary-color;
                &::before{
                    content:'check_circle';
                    color:$primary-color;
                }
                &::after{
                    background-color: $primary-color;
                }
            }
        }
    }
}
.step-content{
    padding-bottom: 2rem;
    .step-item{
        .info-text{
            text-align: center;
            max-width: 600px;
            margin:4rem auto;
            font-size: .9125rem;
            @media screen and (max-width:1440px){
                max-width: 500px;
                font-size: .775rem;
            }
            h5{
                text-transform: uppercase;
                font-size: 1rem;
                margin-bottom: .5rem;
            }
            
            p{
                margin-bottom: 1rem;
            }
            button{
                &.upload-file{
                    background-color: $primary-light-1;
                    i{
                        margin-right: .6125rem;
                    }
                }
            }
        }
        .step-box{
            background-color: $grey-color;
            @include radius(10px);
            padding:1rem;
            @include transition(all .5s ease-in-out);
            margin-bottom: 2rem;
            h4{
                margin-bottom: .6125rem;
                @include display-flex(flex);
                @include justify-content-start;
                @include align-items-center;
                font-size: 1rem;
                text-transform: capitalize;
                span{
                    &.counter{
                        margin-left: .6125rem;
                        color:$white-color;
                        font-size: .6125rem;
                        font-weight: 400;
                        @include radius(100%);
                        padding:3px;
                        min-width:20px;
                        background-color: $body-color;
                        text-align: center;
                    }
                }
                @media screen and (max-width:1440px){
                    font-size: .875rem;
                }
            }
            p{
                font-size:.775rem;
            }
            &.active,&:hover{
                background-color: $primary-light-1;
                border-color: $primary-light;
                h4{
                    span{
                        &.counter{
                            background-color:$blue-color ;
                        }
                    }
                }
            }
        }
        .choose-dataset{
            text-align: center;
            h4{
                font-size:1rem;
            }
            .dataset-row{
                @include display-flex(flex);
                @include align-items-center;
                @include justify-content-around;
                max-width: 800px;
                margin:0 auto;
                .dataset-content{
                    // @include flex(0 0 50%);
                    // max-width: 50%;
                    padding:2rem 1rem;
                    @include display-flex(flex);
                    @include justify-content-center;
                    @include align-items-center;
                    @include flex-direction-column(column);
                    button{
                        text-align: center;
                        background-color: $primary-light-1;
                        color:$body-color;
                        padding:.25rem 1rem;
                        min-width: 60px;
                        margin-bottom: .5rem;
                        i{
                            line-height: 1;
                            margin-right: .25rem;
                            font-size: 1.2rem;
                            &.rotated{
                                @include transform(rotate(180deg));
                            }
                        }
                        
                    }
                }
                .or{
                    max-width: 100px;
                }
            }
        }
        
        .buttons{
            margin-top:4rem;
        }
    }
}
.atrribute-option{
    
    ul{
        background-color: $white-color;
        border:1px solid $border-color;
        padding:.6125rem;
        @include radius(5px);
        margin-bottom: 1rem;
        max-height: 200px;
        overflow-y:auto;
        -webkit-overflow-scrolling:touch;
        -ms-overflow-style:-ms-autohiding-scrollbar;
        &::-webkit-scrollbar {
            width: 4px;
            background: $border-color;
            @include radius(4px);
        }

        &::-webkit-scrollbar-track {
            background-color:$border-color;
            @include radius(4px);
        }

        &::-webkit-scrollbar-thumb {
            @include radius(4px);
            background: $border-dark;
        }
        li{
            @include display-flex(flex);
            @include justify-content-between;
            @include align-items-center;
            @include flex-wrap(wrap);
            
            span{
                font-size: .875rem;
                &.input-number{
                    display: inline-flex;
                    &:not(:first-child){
                        &::before{
                            content:'to';
                            display: inline-flex;
                            margin:0 .61255rem;
                        }
                    }
                }
                &.icon{
                    margin-left: .5rem;
                    display:inline-flex;
                }
                
            }
            input{
                &.form-control{
                    max-width: 110px;
                    min-width: 110px;
                    min-height: calc(1.5em + .75rem + 2px);
                }
            }
            .option-input-left{
                @include display-flex(flex);
                @include justify-content-start;
                @include align-items-center;
                
            }
            .option-input-right{
                @include display-flex(flex);
                @include justify-content-end;
                @include align-items-center;
            }
            &:not(:last-child){
                margin-bottom: .6125rem;
            }
        }
    }
    
    button{
        background-color: $primary-light-1;
        i{
            margin-right: .6125rem;
        }
    }
}
.data-table{
    margin-top:2rem;
    table{
        background-color: $grey-color;
        thead{
            th{
                color:$body-color;
                font-weight: 600;
                font-size:.775rem;
                border-color: $border-color;
            }
        }
        tbody{
            td{
                font-size:.775rem;
                border-color: $border-color;
                
                .data-source{
                    @include display-flex(flex);
                    @include justify-content-start;
                    @include align-items-center;
                    color:$body-color;
                    i{
                        font-size: 1.2rem;
                        margin-right: .5rem;
                        &.rotated{
                            @include transform(rotate(180deg));
                        }
                    }
                    span{
                        @include trim();
                    }
                }
                .input-in{
                    @include display-flex(flex);
                    @include justify-content-start;
                    @include align-items-center;
                    input.form-control{
                        max-width: 110px;
                        min-width: 110px;
                        min-height: calc(1.5em + .75rem + 2px);
                    }
                    span{
                        margin-left: .25rem;
                    }
                }
                b{
                    text-transform: capitalize;
                    @include trim();
                }
                .icons{
                    @include display-flex(flex);
                    @include justify-content-end;
                    @include align-items-center;
                    a{
                        color:$body-color;
                        i{
                            font-size: 1.25rem;
                        }
                        &:not(:last-child){
                            margin-right: .6125rem;
                        }
                    }
                }
            }
            
        }
    }
    &.acc-table{
        h4{
            margin-bottom:1.5rem;
        }
        table{
            background-color: transparent;
            thead{
                th{
                    &.name{
                        width: 40%;
                    }
                }
            }
            tbody{
                tr {
                    display: none;
                    &.tr-header {
                        display: table-row;
                        &.active{
                            td{
                                background-color: $primary-light-1;
                            }
                        }
                    }
                    td{
                        h6{
                            font-size: .775rem;
                            color:$body-color;
                        }
                    }
                    &.parameter{
                        td{
                            background-color: $primary-light-1;
                            b{
                                color:$primary-color;
                            }
                        }
                    }
                }
                
                
            }
        }
    }
}
.assessment-info{
    .assessment-list{
        margin-bottom: 1.5rem;
        h6{
            font-size: 1rem;
            font-weight: 600;
            margin-bottom: .6125rem;
        }
        .list-title{
            @include display-flex(flex);
            @include justify-content-start;
            @include align-items-center;
            b{
                @include flex(0 0 200px);
                max-width: 200px;;
                font-weight: 600;
                font-size: .875rem;
                padding-right: 1rem;
            }
        }
        ul{
            li{
                @include display-flex(flex);
                @include justify-content-start;
                @include align-items-center;
                span{
                    @include flex(0 0 200px);
                    max-width: 200px;
                    font-size: .775rem;
                    padding-right: 1rem;
                }
            }
        }
    }
}
.result-content{
    margin-top:3rem;
    .result-wrapper{
        @include display-flex(flex);
        @include justify-content-between;
        @include align-items-stretch;
        @media screen and(max-width:1199px){
            @include flex-wrap(wrap);
            padding:0 1rem;
        }
        aside{
            &.result-sidebar{
                @include flex(0 0 340px);
                max-width: 340px;
                @media screen and(max-width:1199px){
                    @include flex(0 0 100%);
                    max-width: 100%;
                }
                .sidebar-header{
                    @include display-flex(flex);
                    @include justify-content-between;
                    @include align-items-center;
                    @include flex-wrap(wrap);
                    margin-bottom: 10px;
                    span{
                        @include flex(0 0 50%);
                        max-width: 50%;
                        font-weight: 500;
                    }
                }
                .sidebar-in{
                   .sidebar-widget{
                       &.list-widget{
                           .result-box{
                            max-height: 340px;
                            overflow-y:auto;
                            -webkit-overflow-scrolling:touch;
                            -ms-overflow-style:-ms-autohiding-scrollbar;
                            &::-webkit-scrollbar {
                                width: 4px;
                                background: $border-color;
                                @include radius(4px);
                            }

                            &::-webkit-scrollbar-track {
                                background-color:$border-color;
                                @include radius(4px);
                            }

                            &::-webkit-scrollbar-thumb {
                                @include radius(4px);
                                background: $border-dark;
                            }
                               .result-list{
                                   padding:.6125rem;
                                   @include radius(5px);
                                    @include display-flex(flex);
                                    @include justify-content-between;
                                    @include align-items-center;
                                    border:1px solid transparent;
                                    @include transition(all .5s ease-in-out);
                                    .result-text{
                                        flex-grow: 1;
                                        h6{
                                            font-size: .875rem;
                                            font-weight: 600;
                                        }
                                        span{
                                            font-size: .775rem;
                                        }
                                    }
                                    .result-content-right{
                                        @include display-flex(flex);
                                        @include justify-content-end;
                                        @include align-items-center;
                                        button{
                                            margin-right: .6125rem;
                                            &.is-bg{
                                                background-color: $primary-light-1;
                                                min-width: 80px;
                                                min-height: 34px;
                                                color:$body-color;
                                                font-size: .775rem;
                                                padding: .15rem .6125rem;
                                                i{
                                                    font-size: 1rem;
                                                }
                                            }
                                        }
                                    }
                                    &:not(:last-child){
                                        border-bottom: 1px solid $grey-color;
                                    }
                                    &.active,&:hover{
                                        background-color: $primary-light-1;
                                        border:1px solid $primary-light;
                                    }
                                }
                            }
                        }
                        .acc{
                            background-color: $grey-color;
                            .acc-list{
                                .acc-body{
                                    padding:0 1rem;
                                    .assessment-info{
                                        margin-top:.6125rem;
                                        .assessment-list{
                                           ul{
                                                max-height: 100px;
                                                overflow-y:auto;
                                                -webkit-overflow-scrolling:touch;
                                                -ms-overflow-style:-ms-autohiding-scrollbar;
                                                &::-webkit-scrollbar {
                                                    width: 4px;
                                                    background: $border-color;
                                                    @include radius(4px);
                                                }

                                                &::-webkit-scrollbar-track {
                                                    background-color:$border-color;
                                                    @include radius(4px);
                                                }

                                                &::-webkit-scrollbar-thumb {
                                                    @include radius(4px);
                                                    background: $border-dark;
                                                }
                                           }
                                            li{
                                                @include justify-content-between;
                                                span{
                                                    flex:initial;
                                                    max-width: initial;
                                                }
                                            }
                                            &:not(:last-child){
                                                margin-bottom: 1rem;
                                                border-bottom: 1px solid $border-color;
                                                padding-bottom: 1rem;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .result-main{
            flex-grow: 1;
            padding-left: 2rem;
            @media screen and(max-width:1199px){
                @include flex(0 0 100%);
                max-width: 100%;
                padding:0;
                margin-top:2rem;
            }
            .result-card{
                background-color: $grey-color;
                @include radius(20px);
                border:1px solid $border-color;
                .map{
                    border-radius: 20px 20px 0 0;
                }
                .custom-tab{
                    padding:1.5rem 1rem;
                    .tab-list{
                        li{
                            a{
                                background-color: transparent;
                                &.current,&:hover{
                                    background-color: $primary-light-1;
                                    color:$primary-color;
                                }
                            }
                        }
                    }
                }
                .chart-box{
                    padding:.6125rem;
                    background-color: $white-color;
                    @include radius(5px);
                    margin-bottom: 2rem;
                    .apexcharts-legend-marker {
                        border-radius: 2px !important;
                    }
                }
            }
        }
    }
}