.health-status{
    text-align: center;
    margin-bottom: 2rem;
    h6{
        font-weight: 500;
    }
    h4{
        font-size: 1.4rem;
        font-weight: 600;
        @media #{$breakpoint-lg}{
            font-size: 1rem;  
        }
    }
}
.progress {
    height: 12px;
    background-color: $white-color;
    margin:.5rem 0;
    .progress-bar {
        background-color: $secondary-color;
    }
    &.green{
        .progress-bar{
            background-color: $green-color;
        }
    }
    &.orange{
        .progress-bar{
            background-color: $secondary-color;
        }
    }
    &.red{
        .progress-bar{
            background-color: $secondary-color;
        }
    }
}