.h-wrap{
    min-height: 100vh;
    padding-top: 95px;
    @media #{$breakpoint-lg-desktop}{
        padding-top: 58px;
    }
}
.wrapper{
    position: relative;
    z-index: 11;
    @media #{$breakpoint-lg-desktop}{
        margin: 0 15vh;
    }
    @media #{$breakpoint-desktop}{
        margin: 0 20vh;
    }
    @media #{$breakpoint-xl}{
        margin: 0 9vh;
        min-height: auto;
    }
    @media #{$breakpoint-lg}{
        margin: 0 3vh;
    }
}

.one-pg-web{
    .smooth-scroll{
        section{
            position: relative;
            width: 100%;
            min-height: 100vh;
            @media #{$breakpoint-xl}{min-height: auto;}
            &::after{
                position: absolute;
                content: "";
                width: 100%;
                height: 100%;
                opacity: 1;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                z-index: 1;
                background-image: url('./.././img/budget-bank-bg.jpg');
                @include cover(center);
            }
            &#about{
                &:after{
                    background-image: url('./.././img/about-bg.png');
                }
            }
            &#features{
                &::after{
                    background-image: url('./.././img/digital-sand-bg.jpg');
                }
            }
            &#blogs{
                background: $grey-color;
                &::after{
                    background-image: none;
                }
            }
            &#contact{
                background: $secondary-color;
                &::after{
                    background-image: none;
                }
            }
            &.home_section{
                .home-content{
                    padding-top: 200px;
                    .common-title{
                        max-width: 1200px;
                    }
                    @media #{$breakpoint-lg-desktop}{
                       padding-top: 150px;
                        .common-title{
                            max-width: 900px;
                        }   
                    }
                    @media #{$breakpoint-desktop}{
                        padding-top: 120px;
                        .common-title{
                            max-width: 740px;
                        } 
                    }
                }
                ul{
                    margin-top: 115px;
                    @include display-flex(flex);
                    @include align-items-center;
                    // @include justify-content-between;
                    @media #{$breakpoint-lg-desktop}{
                        margin-top: 80px;
                    }
                    @media #{$breakpoint-desktop}{
                        margin-top: 70px;
                    }
                    @media #{$breakpoint-lg}{
                       flex-wrap: wrap;
                       @include justify-content-center;
                    }
                    li{
                        flex: 0 0 12%;
                        @media #{$breakpoint-lg-desktop}{
                            flex: 0 0 10%;
                        }
                        &:not(:last-child){
                            margin-right: 40px;
                        }
                        @media #{$breakpoint-lg}{
                            text-align: center;
                            flex: 0 0 24%;
                            margin-bottom: 40px;
                            margin-right: 0;
                            &:not(:last-child){
                                margin-right: 0px;
                            }
                        }
                        @media #{$breakpoint-xs}{
                            flex: 0 0 32%;
                        }
                        @media #{$breakpoint-xxs}{
                            flex: 0 0 50%;
                        }
                        span{
                            display: block;
                            &:first-child{
                                font-size: 18px;
                                line-height: 28px;
                                color: $white-color;
                                font-family: $heading-fonts;
                                @media #{$breakpoint-lg-desktop}{
                                    font-size: 16px;
                                    line-height: 24px;
                                }
                                @media #{$breakpoint-desktop}{
                                    font-size: 13px;
                                    line-height: 18px
                                }
                            }
                            &:nth-child(2){
                                color: $primary-color;
                                margin-bottom: 8px;
                                font-size: 26px;
                                line-height: 32px;
                                font-family: $heading-fonts;
                                @media #{$breakpoint-lg-desktop}{
                                    font-size: 20px;
                                    line-height: 24px;
                                }
                                @media #{$breakpoint-desktop}{
                                    font-size: 15px;
                                    line-height: 20px;
                                }
                            }
                            &:last-child{
                                color: $white-color;
                                font-size: 15px;
                                line-height: 26px;
                                font-weight: 600;
                                font-family: $body-fonts;
                                @media #{$breakpoint-lg-desktop}{
                                    font-size: 13px;
                                    line-height: 20px;
                                }
                                @media #{$breakpoint-desktop}{
                                    font-size: 10px;
                                    line-height: 12px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.page-header{
    position: relative;
    padding: 285px 0 95px;
    @media #{$breakpoint-lg-desktop}{
        padding: 225px 0 80px;
    }
    @media #{$breakpoint-desktop}{
        padding: 170px 0 65px;
    }
    &::after {
        position: absolute;
        content: " ";
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        @media #{$breakpoint-pt}{
            background-size: cover;
        }
    }
    &.about-header{
        &::after{
            background-image: url('./.././img/about-budget-bg.png');
            background-color: lighten($dark-overlay, 3%);
        }
    }
    &.blog-header{
        &::after{
            background-image: url('./.././img/blog_bg.png');
            background-color: $secondary-color;
        }
    }
    .row-wrap{
        @include justify-content-center;
        position: relative;
    }
  
    span{
        text-transform: uppercase;
        font-family: $nav-fonts;
        // font-size: 14px;
        letter-spacing: .8px;
        color: $primary-color;
        display: block;
        // @media #{$breakpoint-lg-desktop}{
        //    font-size: 13px;
        // }
        // @media #{$breakpoint-desktop}{
        //     font-size: 11px;
        // }
        @media #{$breakpoint-lg}{
            text-align: center;
        }
    }
    .common-title{
        margin-top: 18px;
        @media #{$breakpoint-desktop}{
            margin-top: 15px;
        }
    }
    &.about-header{
        .common-title{
            max-width: 1200px;
            @media #{$breakpoint-lg-desktop}{
                max-width: 850px;
            }
            @media #{$breakpoint-desktop}{
                max-width: 700px;
            }
        }
    }
    &.blog-header{
        .row-wrap{
            @include justify-content-center;
        }
        .common-title{
            max-width: 600px;
            @media #{$breakpoint-lg-desktop}{
                max-width: 500px;
            }
            @media #{$breakpoint-desktop}{
                max-width:  400px;
            }
        }
    }
    &.blog-items-header{
        text-align: center;
        background: $secondary-color;
        span{color: $white-color;}
        .col-wrap{
            position: relative;
            top: -130px;
            @media #{$breakpoint-lg-desktop}{
                top: -100px;
            }
            @media #{$breakpoint-desktop}{
                top: -80px;
            }
        }
    }
}



