aside{
    &.admin-sidebar{
        background-color: $primary-color;
        color:$white-color;
        max-height: 100vh;
        height: 100vh;
        z-index: 999;
        .admin-aside-header{
            padding:1.5rem;
            border-bottom: 1px solid $primary-light;
            @include display-flex(flex);
            @include justify-content-between;
            @include align-items-center;
            margin-bottom: 1.5rem;
            @media #{$breakpoint-lg-desktop}{
                margin-bottom: .75rem;
                padding:1.25rem;
                img{
                    max-width: 100px;
                }
            }
            @media #{$breakpoint-desktop}{
                margin-bottom: .5rem;
                img{
                    max-width: 80px;
                }
            }
            @media #{$breakpoint-lg-desktop}{
                margin-bottom: .125rem;
                padding:1rem;
                img{
                    max-width: 70px;
                }
            }
            .toggle-sidebar {
                position: relative;
                width: 24px;
                height: 24px;
                @include transition(all .5s ease-in-out);
                display: inline-block;
                @media #{$breakpoint-lg-desktop}{
                    width: 16px;
                    height: 18px;
                    left: 3px;
                    top: 8px;
                }
                @media #{$breakpoint-xl}{
                    width: 14px;
                    height: 18px;
                    left: 0px;
                    top: 5px;
                }
                span {
                    position: absolute;
                    height: 3px;
                    border-radius: 30px;
                    width: 100%;
                    background-color: $white-color;
                    top: 0;
                    transition: transform .2s ease-in-out, opacity .2s ease-in-out;
                    z-index: 1101;
    
                    &:nth-child(1) {
                        top: 0;
                    }
    
                    &:nth-child(2),
                    &:nth-child(3) {
                        top: 8px;
                    }
    
                    &:nth-child(4) {
                        top: 16px;
                    }
                    @media #{$breakpoint-lg-desktop}{
                        height: 1.5px;
                        &:nth-child(2),
                        &:nth-child(3) {
                            top: 4px;
                        }
        
                        &:nth-child(4) {
                            top: 8px;
                        }
                    }
                    @media #{$breakpoint-xl}{
                        height: 1.25px;
                    }
                }
            }
        }
        .admin-aside-body{
            ul{
                &.admin-aside-menu{
                    li{
                        position: relative;
                        @include transition(all .5s ease-in-out);

                        a{
                            @include display-flex(flex);
                            @include justify-content-start;
                            @include align-items-center;
                            color:$white-color;
                            padding:.6125rem 1.5rem;
                            font-weight: 600;
                            font-size: .9125rem;
                            @include transition(all .4s ease);
                            i{
                                margin-right: 1rem;
                            }
                            span{
                                flex-grow: 1;
                                text-transform: capitalize;
                            }
                            @media #{$breakpoint-lg-desktop}{
                                padding: .6125rem 1.15rem;
                                font-size: .75rem;
                                i{
                                    margin-right: 1rem;
                                    font-size: 20px;
                                }
                            }
                            @media #{$breakpoint-desktop}{
                                padding: .5rem .875rem;
                                font-size: .625rem;
                                i{
                                    margin-right: .875rem;
                                    font-size: 16px;
                                }
                            }
                            @media #{$breakpoint-xl}{
                                padding: .5rem .75rem;
                                font-size: .525rem;
                                i{
                                    font-size: 14px;
                                }
                            }
                        }
                        &.is-submenu{
                            .submenu{
                                display: none;
                                li{
                                    a{
                                        padding-left:3.5rem;
                                        font-size: .875rem;
                                        @media #{$breakpoint-lg-desktop}{
                                            font-size: .75rem;
                                        }
                                        @media #{$breakpoint-desktop}{
                                            font-size: .625rem;
                                        }
                                        @media #{$breakpoint-desktop}{
                                            font-size: .525rem;
                                            padding-left: 2.5rem;
                                        }
                                    }
                                }
                            }
                            &::after{
                                content: "chevron_right";
                                font-family: "Material Icons";
                                text-transform: initial;
                                position: absolute;
                                right: 10px;
                                top:2px;
                                font-size: 1.5rem;
                                @include transition(all .4s ease);
                                @media #{$breakpoint-lg-desktop}{
                                    right: 12px;
                                    top: 2px;
                                    font-size: 1.15rem;
                                }
                                @media #{$breakpoint-desktop}{
                                    font-size: .875rem;
                                }
                                @media #{$breakpoint-xl}{
                                    font-size: .75rem;
                                }
                            }
                            &.active{
                                background-color: $primary-light;
                                a{
                                    color: $secondary-color;
                                }
                                &::after{
                                    color: $secondary-color;
                                    content:'expand_less';
                                }
                            }
                            &:hover{
                                background-color: $primary-light;
                                a{
                                    color: $secondary-color;
                                }
                                &::after{
                                    color: $secondary-color;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.drone-admin-wrapper{
    &.sidebar-collapse{
        aside{
            &.admin-sidebar{
                .admin-aside-header{
                    padding: 1rem .6125rem;
                    img{
                        display: none;
                    }
                }
                .admin-aside-body{
                    ul{
                        &.admin-aside-menu{
                            li{
                                a{
                                    padding:.6125rem;
                                    i{
                                        margin:0;
                                    }
                                    span{
                                        display: none;
        
                                    }
                                }
                                &.is-submenu{
                                    .submenu{
                                        display: initial;
                                        position: absolute;
                                        left:100%;
                                        top:100%;
                                        width: 150px;
                                        background-color: $primary-color;
                                        @include transition(all .5s ease-in-out);
                                        opacity: 0;
                                        visibility: hidden;
                                        pointer-events: none;
                                        z-index: 999;
                                        li{
                                            a{
                                                padding:.6125rem 1rem;
                                                font-size: .875rem;
                                            }
                                        }
                                    }
                                    &::after{
                                        display: none;
                                    }
                                    
                                    &:hover{
                                        background-color: $primary-light;
                                        .submenu{
                                            opacity: 1;
                                            visibility: visible;
                                            top:0;
                                            pointer-events: initial;
                                            li{
                                                &:hover{
                                                    background-color: $primary-light;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}