footer{
    position: absolute;
    z-index: 11;
    bottom: 4vh;
    width: 100%;
    @include transition(all .4s ease);
    @media #{$breakpoint-xl}{
        position: relative;
        bottom: 0;
       padding: 60px 0;
    }
    .footer-para{
        color:$white-color;
        @include display-flex(flex);
        @include align-items-center;
        font-family: $nav-fonts;
        text-transform: uppercase;
        font-size: 13px;
        letter-spacing: .8px;
        font-weight: 400;
        @media #{$breakpoint-lg-desktop}{
            font-size: 10px;
        }
        @media #{$breakpoint-desktop}{
            font-size: 8px;
        }
        @media #{$breakpoint-md}{
            @include justify-content-center;
        }
        &.is-dark{
            color: $heading-color;
            a{
                border: 1px solid $heading-color;
                @media #{$breakpoint-lg-desktop}{
                    border: .5px solid $heading-color;
                }
                i{
                    color: $heading-color;
                }
            }
        }
        a{
            @include radius(50%);
            width: 45px;
            height: 45px;
            border: 1px solid $white-color;
            cursor: pointer;
            @include flex_hr_center;
            margin-right: 20px;
            @include transition(all .4s ease);
            @media #{$breakpoint-lg-desktop}{
               width: 36px;
               height: 36px;
               margin-right: 15px;
            }
            @media #{$breakpoint-desktop}{
                width: 30px;
                height: 30px;
                border: .5px solid $white-color;
                margin-right: 10px;
            }
            &:hover{
                border: 1px solid $primary-color;
                background: rgba($primary-color, .1);
                i{
                    color: $primary-color;
                }
                @media #{$breakpoint-desktop}{
                    border: .5px solid $primary-color;
                }
            }
            i{
                @include transition(all .4s ease);
                font-size: 20px;
                color: $white-color;
                font-weight: 500;
                @media #{$breakpoint-lg-desktop}{
                   font-size: 18px;
                }
                @media #{$breakpoint-desktop}{
                    font-size: 16px;
                }
            }
        }
    }

    .footer-wrap{
        @include display-flex(flex);
        @include align-items-end;
        @media #{$breakpoint-lg}{
            @include flex-direction-column(column);
            @include align-items-center;
        }
    }

    .web-footer{
        margin-left: 250px;
        @media #{$breakpoint-lg-desktop}{
            margin-left: 230px;
        }
        @media #{$breakpoint-desktop}{
            margin-left: 200px;
        }
        @media #{$breakpoint-lg}{
           margin-left: 0;
           margin: 50px 0 20px;
        }
        .logo-center{
            @include flex_hr_center;
            img{
                max-width: 300px;
                @media #{$breakpoint-lg-desktop}{
                    max-width: 200px;
                }
                @media #{$breakpoint-desktop}{
                    max-width: 150px;
                }
            }
        }
        ul.footer-links{
            margin-top: 50px;
            @include display-flex(flex);
            @include align-items-center;
            @media #{$breakpoint-lg-desktop}{
                margin-top: 30px;
            }
            @media #{$breakpoint-desktop}{
                margin-top: 15px;
            }
            @media #{$breakpoint-sm}{
               @include flex-direction-column(column);
            }
            li.link-item{
                &:not(:last-child){
                    margin-right: 110px;
                    @media #{$breakpoint-lg-desktop}{
                        margin-right: 90px;;
                    }
                    @media #{$breakpoint-desktop}{
                        margin-right: 70px;
                    }
                    @media #{$breakpoint-sm}{
                        margin-right: 0;
                    }
                }
                a{
                    font-size: 14px;
                    line-height: 16px;
                    color: $white-color;
                    text-transform: uppercase;
                    letter-spacing: .8px;
                    font-family: $nav-fonts;
                    @include transition(all .3s ease);
                    @media #{$breakpoint-lg-desktop}{
                        font-size: 10px;
                        line-height: 16px;
                    }
                    @media #{$breakpoint-desktop}{
                       font-size: 8px;
                       line-height: 14px;
                    }
                    &:hover{
                        color: $primary-color;
                    }
                }
            }
        }
    }

    .footer-copyright{
        @include display-flex(flex);
        @include align-items-center;
        @include justify-content-between;
        margin-top: 60px;
        @media #{$breakpoint-lg-desktop}{
           margin-top: 55px;
        }
        @media #{$breakpoint-desktop}{
            margin-top: 30px;
        }
        @media #{$breakpoint-sm}{
            @include flex-direction-column(column);
        }
        span{
            font-size: 13px;
            line-height: 24px;
            color: $white-color;
            @media #{$breakpoint-lg-desktop}{
               font-size: 10px;
               line-height: 16px;
            }
            @media #{$breakpoint-desktop}{
                font-size: 8px;
               line-height: 14px;
            }
            @media #{$breakpoint-sm}{
                &:not(:last-child){
                    margin-bottom: 5px;
                }
            }
            a{
                color: $white-color;
                @include transition(all .3s ease);
                text-decoration: underline;
                text-transform: uppercase;
                &:hover{
                    color: $primary-color;
                }
            }
        }
    }
}