.marker-cluster span { line-height: 27px; }

.leaflet-popup {
    left: -145px !important;
}
.leaflet-popup-content {
    width: 250px;
}

  
  /*legend css*/

  .dot {
    height: 13px;
    width: 13px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }
.info.legend{
    @include radius(4px);
    padding:.5rem;
    background-color: $white-color;
}
.legend{
    text{
        b{
            font-size: .7125rem;
        }
    }

    p{
        @include display-flex(flex);
        @include justify-content-start;
        @include align-items-center;
        margin-top:0;
        i{
            margin-right: .5rem;
            @include radius(4px);
            width: 12px;
            height: 12px;
        }
        span{
            font-size: .7125rem;
        }
            
    }
    @media #{$breakpoint-lg}{
        #ageLegendContainer{
            display:none;
        }
        p{
            display: none;
            // span{
            //     display: none;
            // }
            // i{
            //     margin:0;
            // }
        }
        // text,br,input{
        //     display: none;
        // }
        
    }
}