.scroll-animate{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1.25em;
    z-index: 2;
    @include display-flex(flex);
    @include flex-direction-column(column);
    @include align-items-center;
    @include justify-content-center;
    text-align: center;
    font-size: 2rem;
    color: $heading-color; 
    .center{
        font-size: .825rem;
    }
}

.smooth-scroll{
    position: relative;
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
    overflow-y: scroll;
}
.pg-wrap{
    scroll-behavior: smooth;
}
