
$heading-color:#000000;
$primary-color:#DF6D45;
$secondary-color:#22264D;
$shadow-bg: #00000029;
$white-color:#ffffff;
$grey-color:#F5F5F5;
$body-color:#757575;
$bg-color:#F2F3F5;
$dark-overlay: #0b0325d9;
$blue-bg: #F5F9FF;
$border-light:#dcdcdc;
$border-dark:#e6e6e6;
//blue-gradient
$blue-xx-light: #EFF6FD;
$blue-x-light: #DEEDFA;
$blue-light: #CEE3F8;
$blue-md-dark: rgba(#CEE3F8, .9);
$blue-xmd-dark: rgba(#BEDAF6, .86);
$blue-dark: #BEDAF6;
$blue-x-dark: #ADD1F3;
$blue-xx-dark: #9DC8F1;
 /* ---- */

$blackshade-color: #4D4F5C;
$text-color: #323132;
$text-shade: #222323;

$body-light: #797979;
$body-dark:#646464;


$primary-light:#2332BA;
$primary-dark:#0025A2;
$primary-light-1:#E8EBFB;


/* --------- */
$secondary-light:#102E5A;

$border-color:#D1D1D1;

$border-light-1: #dbdbdb;

$red-color:#FF4D4D;
$green-color:#1FDB0F;
$green-light:#E5F7E6;
$orange-color:#FCBA15;
$blue-color:#544DF5;
$blue-light-1:#c9ddf5;
$blue-shade: #3346D1;
$blue-light-shade: #E0F8FE;
$gray-light: #e2e2e2;
$purple-shade: #e8e9fa;
$bg-shade: #f7f7f7;
