.common-title{
    .title{
        font-size: 55px;
        line-height: 70px;
        font-weight: 400;
        color: $white-color;
        font-family: $heading-fonts;
        @media #{$breakpoint-lg-desktop}{
            font-size: 40px;
            line-height: 50px;
        }
        @media #{$breakpoint-desktop}{
            font-size: 34px;
            line-height: 45px;
        }
        @media #{$breakpoint-lg}{
            text-align: center;
            font-size: 26px;
            line-height: 26px;
        }
        span.title-span{
            font-size: 30px;
            font-weight: 400;
            color: $primary-color;
            line-height: 75px;
            @media #{$breakpoint-lg-desktop}{
                font-size: 22px;
                line-height: ss65px;
            }
            @media #{$breakpoint-desktop}{
                font-size: 18px;
                line-height: 50px;
            }
            .is-white{
                color: $white-color;
            }
            .is-lg{
                font-size: 55px;
                @media #{$breakpoint-lg-desktop}{
                    font-size: 46px;
                    line-height: 65px;
                }
                @media #{$breakpoint-desktop}{
                    font-size: 36px;
                    line-height: 50px;
                }
            }
        }
        &.is-dark{
            color: $heading-color;
        }
    } 
    
    .section-title{
        font-size: 28px;
        font-family: $heading-fonts;
        line-height: 40px;
        color: $heading-color;
        @media #{$breakpoint-lg-desktop}{
            font-size: 22px;
            line-height: 36px
        }
        @media #{$breakpoint-desktop}{
            font-size: 17px;
            line-height: 28px;
        }
        &is.white {color: $white-color;}
    }

    &.is-center{
        text-align: center;
        @include justify-content-center;
        @include align-items-center;
    }
    &.is-end{
        @include justify-content-between;
        @include align-items-end;
    }
    &.between{
        @include justify-content-between;
        @include align-items-center;
    }
    &.is-white{
        h3,b,span{
            color:$white-color;
        }
    }
}
