body {
    font-family: $body-fonts;
    background-color:$white-color;
    position: relative;
    font-size: .938rem;
    line-height: 24px;
    color:$heading-color;
    font-weight: 400;
    @media #{$breakpoint-lg-desktop}{
        font-size: .75rem;
        line-height: 20px;
    }
    @media #{$breakpoint-desktop}{
        font-size: .625rem;
        line-height: 18px;
    }
    &.one-pg-web{
        margin: 0;
        overflow: hidden;
        height: 100vh;
        display: flex;
        flex-direction: column;
    }
}

.background-dark{
    background: $secondary-color;
}

.body-container{
    &.blur-bg{
        filter: blur(2px);
        -webkit-filter: blur(2px);
        box-shadow: 0 0 0 50px $white-color;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: $heading-fonts;
    color:$heading-color;
    font-weight: 700;
  }
.section{
    padding-top:100px;
}
@media screen and (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}
@media screen and (min-width: 768px) {
    .container {
        max-width: 650px;
    }
}
@media screen and (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}
@media screen and (min-width: 1440px) {
    .container {
        max-width: 1366px;
    }
}







