.blog_section{
  
    .blog-content{
        margin-top: 35px;
        @media #{$breakpoint-desktop}{
            margin-top: 25px;
        }
    }
    .common-title{
        .title{
            text-align: center;
        }
    }
    .blogs-row{
        margin-top: 60px;
        @media #{$breakpoint-lg-desktop}{
            margin-top: 45px;
        }
        @media #{$breakpoint-desktop}{
            margin-top: 35px;
        }
        @media #{$breakpoint-md}{
            margin-top: 60px;
           .row-wrap{
                max-width: 260px;
                margin: 0 auto;
                .col-wrap{
                    text-align: center;
                    &:not(:last-child){
                        margin-bottom: 50px;
                    }
                }
           }
        }
        .main-card{
            cursor: pointer;
            @include transition(all .3s ease);
            & > div{
                @include transition(all .3s ease);
            }
            height: 100%;
            &:hover{
                transform: scale(.95);
            }
            .card-header{
                padding: 0;
                figure{
                    height: 205px;
                    @media #{$breakpoint-lg-desktop}{
                        height: 170px;
                    }
                    @media #{$breakpoint-desktop}{
                        height: 130px;
                    }
                    @media #{$breakpoint-md}{
                        height: 120px
                    }
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
            }
            .card-body{
                padding: 40px 0 10px;
                @media #{$breakpoint-lg-desktop}{
                    padding: 25px 0 10px;
                }
                @media #{$breakpoint-desktop}{
                    padding: 15px 0 10px;
                }
                & *{
                    @include transition(all .3s ease);
                }
                span.date{
                    font-size: 14px;
                    line-height: 16px;
                    font-family: $nav-fonts;
                    letter-spacing: .9px;
                    text-transform: uppercase;
                    color: $heading-color;
                    @media #{$breakpoint-lg-desktop}{
                        font-size: 12px;
                        line-height: 14px;
                    }
                    @media #{$breakpoint-desktop}{
                        font-size: 9.5px;
                    }
                }
                h5{
                    font-size: 30px;
                    font-weight: 400;
                    line-height: 40px;
                    color: $heading-color;
                    margin: 10px 0 20px;
                    @media #{$breakpoint-lg-desktop}{
                        font-size: 25px;
                        line-height: 36px;
                        margin: 8px 0 15px;
                    }
                    @media #{$breakpoint-desktop}{
                        font-size: 18px;
                        line-height: 24px;
                        margin: 5px 0 10px;
                    }
                }
                p{
                    font-size: 14px;
                    line-height: 26px;
                    color: $heading-color;
                    max-width: 380px;
                    @media #{$breakpoint-lg-desktop}{
                        font-size: 12px;
                        line-height: 20px;
                        max-width: 330px;
                    }
                    @media #{$breakpoint-desktop}{
                        font-size: 9.5px;
                        line-height: 16px;
                        max-width: 260px;
                    }
                    @media #{$breakpoint-md}{
                        max-width: 100%;
                    }
                }
            }
        }
    }
    .visit-link {
        margin-top: 60px;
        text-align: center;
        @media #{$breakpoint-lg-desktop}{
            margin-top: 30px;
        }
        @media #{$breakpoint-desktop}{
            margin-top: 20px;
        }
        @media #{$breakpoint-md}{
           margin-top: 30px;
        }
        a{
            @include display-flex(flex);
            @include align-items-center;
            @include justify-content-center;
            letter-spacing: .8px;
            font-size: 15px;
            line-height: 16px;
            color: $primary-color;
            font-family: $nav-fonts;
            text-transform: uppercase;
            @include transition(all .3s ease);
            i{
                font-size: 22px;
                font-weight: 400;
                line-height: 0;
                color: $primary-color;
                margin-left: 8px;
                @include transition(all .3s ease);
            }
            &:hover{
                color: $primary-color;
                i{
                    color: $primary-color;
                }
            }
            @media #{$breakpoint-lg-desktop}{
                font-size: 12px;
                line-height: 12px;
                i{
                    font-size: 20px;
                }
            }
            @media #{$breakpoint-desktop}{
                font-size: 10px;
                line-height: 10px;
                i{
                    font-size: 14px;
                }
            }
        }
    }
}

.budget-content{
    margin: 110px 0 160px;
    @media #{$breakpoint-lg-desktop}{
        margin: 90px 0 140px;
    }
    @media #{$breakpoint-desktop}{
        margin: 80px 0 130px;
    }
    .row-wrap{
        @include justify-content-center;
    }
    ul.budget-list{
        li{
            &:not(:last-child){
                margin-bottom: 70px;
                @media #{$breakpoint-lg-desktop}{
                    margin-bottom: 50px;
                }
                @media #{$breakpoint-desktop}{
                    margin-bottom: 30px;
                }
            }
            @include display-flex(flex);
            @include align-items-center;
            figure{
                flex: 0 0 325px;
                img{
                    width: 100%;
                    height: 190px;
                }
                @media #{$breakpoint-lg-desktop}{
                    flex: 0 0 280px;
                    img{
                        height: 170px;;
                    }
                }
                @media #{$breakpoint-desktop}{
                    flex: 0 0 250px;
                    img{
                        height: 150px;
                    }
                }
            }
            &.budget-items{
                .info{
                    padding-left: 25px;
                    span.date{
                        font-family: $nav-fonts;
                        font-size: 14px;
                        letter-spacing: .8px;
                        text-transform: uppercase;
                    }
                    .common-title{
                        margin: 15px 0 20px;
                    }
                    p.news-para{
                        max-width: 690px;
                        @include line-clamp(2);
                    }
                    @media #{$breakpoint-lg-desktop}{
                        padding-left: 20px;
                        span.date{
                            font-size: 12px;
                            letter-spacing: .8px;
                        }
                        p.news-para{
                            max-width: 600px;
                        }
                    }
                    @media #{$breakpoint-desktop}{
                        padding-left: 15px;
                        span.date{
                            font-size: 10px;
                            letter-spacing: .6px;
                        }
                        .common-title{
                            margin: 10px 0 15px;
                        }
                        p.news-para{
                            max-width: 550px;
                        }
                    }
                }
            }
            &.mainbudget-items{
                background-size: contain;
                margin: 120px 0;
                padding: 60px 40px;
                @media #{$breakpoint-lg-desktop}{
                    margin: 100px 0;
                    padding: 50px 30px;
                }
                @media #{$breakpoint-desktop}{
                   margin: 80px 0;
                   padding: 40px 20px;
                }
                .info{
                    background: $white-color;
                    max-width: 420px;
                    padding: 35px;
                    @media #{$breakpoint-lg-desktop}{
                        padding: 30px;
                        max-width: 380px;
                    }
                    @media #{$breakpoint-desktop}{
                        padding: 20px;
                        max-width:  320px;
                    }
                }
            }
        }
    }

    .pagination-wrap {
        margin-top: 120px;
        @include display-flex(flex);
        @include align-items-center;
        @include justify-content-between;
        @media #{$breakpoint-lg-desktop}{
            margin-top: 100px;
        }
        @media #{$breakpoint-desktop}{
            margin-top: 80px;
        }
        .pagination{
            a{
               @include flex_hr_center;
                width: 45px;
                height: 45px;
                font-family: $nav-fonts;
                transform: uppercase;
                color: $secondary-color;
                border: 1px solid transparent;
                @include transition(all .3s ease);
                &.current{
                    border: 1px solid $secondary-color;
                }
                &:hover{
                    background: $secondary-color;
                    color: $white-color;
                    border: $secondary-color;
                }
                @media #{$breakpoint-lg-desktop}{
                    width: 35px;
                    height: 35px;
                }
                @media #{$breakpoint-desktop}{
                    width: 25px;
                    height: 25px;
                }
            }
        }
        .page-nav-btn{
            button{
                height: 45px;
                width: 170px;
                &.is-border{
                    color: $secondary-color;
                    border: 1px solid $secondary-color;
                    &:hover{
                        background: rgba($secondary-color, .8);
                        color: $white-color
                    }
                }
                @media #{$breakpoint-lg-desktop}{
                    height: 35px;
                    width: 150px;
                }
                @media #{$breakpoint-desktop}{
                    height: 25px;
                    width: 120px;
                }
            }
        }
    }
}

.budget-items{
    margin-bottom: 130px;
    @media #{$breakpoint-lg-desktop}{
        margin-bottom: 110px;
    }
    @media #{$breakpoint-desktop}{
        margin-bottom: 90px;
    }
    .row-wrap{
        @include justify-content-center;
    }
    .budget-items-info{
        max-width: 880px;
        margin: 0 auto;
        margin-top: -155px;
        @media #{$breakpoint-lg-desktop}{
            max-width: 640px;
            margin-top: -120px;
        }
        @media #{$breakpoint-desktop}{
            max-width: 600px;
            margin-top: -100px;
        }
    
        figure {
            margin: 0 auto;
            height: 630px;
            padding-bottom: 100px;
            @media #{$breakpoint-lg-desktop}{
                height:  500px;
                padding-bottom: 70px;
            }
            @media #{$breakpoint-desktop}{
                height: 400px;
                padding-bottom: 60px;
            }
            img{
                width: 100%;
                height: 100%;
            }
        }

        .news-wrap{
            margin-bottom: 70px;
            .common-title{
                margin-bottom: 30px;
            }
            @media #{$breakpoint-lg-desktop}{
                margin-bottom: 50px;
                .common-title{
                    margin-bottom: 20px;
                }
            }
            @media #{$breakpoint-desktop}{
                margin-bottom: 40px;
                .common-title{
                    margin-bottom: 15px;
                }
            }
        }

        .share-news{
            margin-top: 20px;
            span{
                font-family: $nav-fonts;
                text-transform: uppercase;
                letter-spacing: .8px;
            }
            ul{
                margin-top: 30px;
                @media #{$breakpoint-lg-desktop}{
                    margin-top: 20px;
                }
                @include display-flex(flex);
                @include align-items-center;
                li{
                    &:not(:last-child){
                        margin-right: 30px;
                        @media #{$breakpoint-lg-desktop}{
                            margin-right: 20px;
                        }
                        @media #{$breakpoint-desktop}{
                           margin-right: 15px;
                        }
                    }
                    a{
                        width:24px;
                        height: 24px;
                        &:hover{
                            img{
                                @include transition(all .3s ease);
                                transform: scale(1.2);
                            }
                        }
                        @media #{$breakpoint-lg-desktop}{
                           width: 20px;
                           height: 20px;
                        }
                        @media #{$breakpoint-desktop}{
                            width: 15px;
                            height: 15px;
                        }
                    }
                }
            }
        }
    }
}

